@model Emarket_Website.Models.ItemCategory

@{
    ViewData["Title"] = "Create";
}

 
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/css/seller.css" />
<style>
	p {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	label{
		font-family:Arial;
	}

</style>
<section id="sidebar">
	<a href="#" class="brand">
		<i class='bx bxs-smile'></i>
		<span class="text">Admin Seller</span>
	</a>
	<ul class="side-menu top">
		<li class="active">
			<a asp-action="Seller" asp-controller="Home" class="">
				<i class='bx bxs-dashboard'></i>
				<span class="text">Dashboard</span>
			</a>
		</li>
		<li>
		<a asp-action="Index">
				<i class='bx bxs-log-out-circle'></i>
				<span class="text">see List</span>
			</a>
		</li>
		<li>
			<a asp-action="Logout" asp-controller="Home" class="">
				<i class='bx bxs-log-out-circle'></i>
				<span class="text">Logout</span>
			</a>
		</li>
	</ul>
</section>
<section id="content">
	<main>
		<div class="head-title">
			
			<div class="left">
				<h2>Add new Item Category</h2>
				
					<div class="col-md-11">
					
						<form asp-action="Create">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="form-group">
								<label asp-for="Name" class="control-label"></label>
								<input asp-for="Name" class="form-control" />
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
							<br />

							<div class="form-group">
								<input type="submit" value="Create" class="btn btn-primary" />
							</div>
						</form>
					</div>
					</div>
				</div>

					
					
					</main>
					</section>
				
<script src="~/js/seller.js"></script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

