
/* CSS for All */
* {
   
    font-family: Arial, Helvetica, sans-serif;
}
body {

}

.container {
    width: 100%;
    
  
}

.img-responsive {
    width: 100%;
}
 .text-right{


    text-align: right;
}

.text-center {
    text-align: center;
    padding:1px;

}

.text-left {
    text-align: left;
}

.text-white {
    color: white;
}

.clearfix {
    clear: both;
    float: none;
    padding-bottom:-35px;
  
  
}

a {
    color: #ff6b81;
    text-decoration: none;
}

    a:hover {
        color: #ff4757;
    }

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
    .btn-prim {
        background-color: blueviolet;
        color: white;
        cursor: pointer;
    }
.btn-prim:hover {
    color: white;
    background-color: #ff4757;
}
    .btn-primary {
        background-color: #ff6b81;
        color: white;
        cursor: pointer;
    }
.btn-primary:hover {
        color: white;
        background-color: #ff4757;
    }
.btn-primar {
    background-color: seagreen;
    color: white;
    cursor: pointer;
    
}
.btn-prima {
    background-color: seagreen;
    
}
.btn-primar:hover {
    color: white;
    background-color: #ff4757;
}

    

h2 {
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3 {
    font-size: 1.5rem;
}

.float-container {
    position: relative;
}

.float-text {
    position: absolute;
    bottom: 50px;
    left: 40%;
}

fieldset {
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo {
    width: 10%;
    float: left;
}

.menu {
    line-height: 30px;
}

    .menu ul {
        list-style-type: none;
    }

        .menu ul li {
            display: inline;
            margin: 7px;
            padding: 3px;
            float: left;
            font-weight: bold;
        }


/* CSS for Shop SEarch Section */

.Shop-search {
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
    border-radius: 100px;
}

    .Shop-search input[type="search"] {
        width: 50%;
        padding: 1%;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
    }


/* CSS for Categories */
.Shopcategories {
    padding: 4% 0;
}

.box-3 {
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Shop Menu */
.Shop-menu {
    background-color: #ececec;
    padding: 4% 0;
}

.row {
   
    padding: 2%;
    float: left;
    background-color: lightyellow;
    border-radius: 30px;
}





/* CSS for Social */
.social ul {
    list-style-type: none;
}

    .social ul li {
        display: inline;
        padding: 1%;
    }

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px) {
    .logo {
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul {
        text-align: center;
    }

    .Shop-search input[type="search"] {
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn {
        width: 91%;
        padding: 2%;
    }

    .Shop-search {
        padding: 10% 0;
    }

    .Shopcategories {
        padding:2px;
    }

    h2 {
        margin-bottom: 10%;
    }

    .box-3 {
        width: 100%;
        margin: 4% auto;
    }

    .Shop-menu {
        padding: 20% 0;
    }

    .Shop-menu-box {
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }

    .social {
        padding: 5% 0;
    }
}
.navbar-brand {
    color: yellow;
}